body {
  margin: 0px;
  background-color: #222;
  color: yellowgreen;
  font-family: sans-serif;
  font-size: 22px;
}

.docs-container {
  padding: 20px;
  text-align: center;
}

.docs-container p {
  margin: 0px;
}
.docs-container p + p {
  margin-top: 1em;
}
